/*stile dei bottoni*/
.button-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .button-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: #0056b3; /* Colore di sfondo più scuro quando si passa sopra */
  }
  
  .button-container button:focus {
    outline: none; /* Rimuovi il bordo di messa a fuoco */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Aggiungi un'ombra di messa a fuoco */
  }
  