.dashboard {
  display: flex;
}

.sidebar {
  width: 200px;
  min-height: 70vh;
  background: #f4f4f4;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.content {
  flex: 1;
  padding: 20px;
}

.userlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  height: 250px;
  overflow-y: scroll;
}

.userlist-review {
  background-color: #f9f9f9;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 30%;
  flex: 1 1 calc(50% - 40px);
  box-sizing: border-box;
}

.comment {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  margin-top: 10px;
}