  .icon {
      font-size: 18px;
    }

  .icon-star-rating {
    color: #ffc107;
    font-size: 12px;
  }

  .icon-smartphone {
    font-size: 200px;
  }
  
  .icon-confirm {
    color: rgb(11, 239, 11);
  }
  
  .icon-reject {
    color: red;
  }

  .icon-star {
    color: #ffc107;
  }